*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

header{
    min-height: 8vh;
    
    
}


body{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 227, 227);
}

main{
    display: flex;
    min-height: 90vh;
    width: 100%;
    flex-flow: column wrap;
    
}

footer{
    min-height: 10vh;
    background-color: #df3383;
}




.carousel-item{
    height:480px;
    width:100%;
    object-fit: scale-down;
    
    
}





/*search-bar*/
.search{
    display:flex;
    margin-right:10px;
}

/*cards*/
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    justify-content: center;
}

.card-img-top{
    width:auto;
    height:200px;
}



/*checkbox*/
.d-flex{
    gap: 1rem;
}

/*table stats*/
/* .table{
    display: flex;
    border: 0.5px solid black;
    margin: 10px;
    
    
    
} */


.div-table{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 30px;
    
    
}




/* details */
.details{
    display:flex;
    justify-content:center;
    padding-top: 70px;
    
}


.card-body{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}


/*contact form*/
.contact-form{
    color: white;
    background-color: #df3383;
    display: flex;
    flex-direction: column;
    width:90%;
    margin:auto;
    align-items: center;
    padding:10px;
    background-image:url(../assets/img/contact-image.jpg);
    background-size:contain;
    border-radius: 15px;
    
    
}
.btn{
    align-self:center;
    margin: 10px;
}





/*footer*/
.container{
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: flex-end;
    height: 100%;
}

















